// Favicons Generated with favicon.il.ly
link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='favicon.ico')
//if IE
  link(rel='shortcut icon', href='favicon.ico')
// Optional: Android & iPhone
link(rel='apple-touch-icon-precomposed', href='favicon-152.png')
// Optional: IE10 Tile.
meta(name='msapplication-TileColor', content='#FFFFFF')
meta(name='msapplication-TileImage', content='favicon-144.png')
// Optional: ipads, androids, iphones, ...
link(rel='apple-touch-icon-precomposed', sizes='152x152', href='favicon-152.png')
link(rel='apple-touch-icon-precomposed', sizes='144x144', href='favicon-144.png')
link(rel='apple-touch-icon-precomposed', sizes='120x120', href='favicon-120.png')
link(rel='apple-touch-icon-precomposed', sizes='114x114', href='favicon-114.png')
link(rel='apple-touch-icon-precomposed', sizes='72x72', href='favicon-72.png')
link(rel='apple-touch-icon-precomposed', href='favicon-57.png')