@import url('https://rsms.me/inter/inter.css');
@import url('https://rsms.me/inter/inter-ui.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body,
html,
#root {
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


.zeroExInstantOverlay{
    z-index: 99999999 !important;
}

#zerox-widget{
    z-index: 99999999;
}

@media screen and (max-width: 600px) {

    .zeroExInstantOverlay{
        z-index: 1000000 !important;
        max-width: 500px;
        max-height: 200px;
    }
    .zeroExInstantOverlayCloseButton{
        z-index: 1200000 !important;
        display: initial !important;
    }
 
 }